<script setup>

defineProps({
  title: String,
})

</script>

<template>
    <div class="card">
        <div class="card-header">{{ title }}</div>
        <div class="card-separator"></div>
        <slot></slot>
    </div>
</template>

<style>
.card {
  padding: 10px;
  width: 200px;
  height: 300px;

  border-style: solid;
  border-color: aquamarine;
  border-width: 2px;
  border-radius: 4px;

      
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  font-size: larger;
}

.card-separator {
  border-top: 1 px;
  border-style: solid;
  border-color: aquamarine;

  margin: 4px;
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-indicator {
  width: 50px;
  height: 50px;
  border: 2px solid aquamarine;

  display: flex;
  align-items: center;
  justify-content: center;
}
</style>