<script setup>
    import Card from './Card.vue'
    import { mqttStore } from '../stores/mqtt'; 

    const mqtt = mqttStore();

    

</script>

<template>
    <Card title="RFID Reader">
        <div class="card-element">Scanned UID: <span id="scanned-uid">None</span></div>
        <div class="card-separator"></div>
        <div class="card-element">
        <label for="security-uid">UID</label>
        <select name="Security Card" id="security-uid">
            <option value="invaliduid">Invalid Uid</option>
        </select>
        <button type="button" id="security-uid-button">Test</button>
        </div>
    </Card>    
</template>

<style scoped>

</style>