<script setup>
    import Rfid from './components/Rfid.vue'
</script>

<template>
  <header class="header">Rocket Bears</header>
    <div class="flex-container">
        <Rfid />
    </div> 
</template>

<style>
:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: greenyellow;
  background-color: black;
}

.flex-container {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  

  display: flex;
  flex-flow: row;
  justify-content: space-around;
  min-height: 95vh;
}

.header{
  margin: 6px;
  font-size: large;
}
</style>
